:root{
    --color-primary:#323238;
    --color-accent: #E1E1E6;
    --color-action: #02799D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-content: center;
    min-height: 100svh;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 11.875rem;
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.timer{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: fit-content;
}

.clock{
    display: flex;
    align-items: center;
    font-size: 7.875rem;
    font-family: sans-serif;
    font-weight: 700;
    color: var(--color-primary)
}

.clock .time{
    min-height: 1em;
    width: 100%;
}

.clock .double-dots{
    font-family: serif;
}

.actions{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
}

.actions button{
    display: grid;
    place-content: center;
    background: transparent;
    border-radius: 50%;
    border: 6px var(--color-primary) solid;
    padding: 0;
    cursor: pointer;
    aspect-ratio: 1/1;
    transition: all 100ms;
}

.actions button:hover,
.actions button:focus{
    transform: scale(1.05);
}

.sound-board{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

.sound-board label {
    display: grid;
    place-items: center;
    padding: 2.5rem;
    background: var(--color-accent);
    border-radius: 1.5rem;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.sound-board label:hover{
    transform: scale(1.05);
}

.sound-board label:has(input[type=checkbox]:checked){
    background: var(--color-action);
    color: white;
}

.sound-board label:has(input[type=checkbox]:focus){
    transform: scale(1.05);
}

@media screen and (min-width: 900px) {
    main{
        flex-direction: row;
    }
}